@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    font-family: 'Signika', sans-serif;
}


.left-section {
    height: 100vh;
    width: 30vw;
    background-color: rgba(58, 155, 229, 0.711);
}

.logo-section {
    margin-top: 30vh;
    background-color: rgba(0, 0, 0, 0.144);
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    align-items: center;
}


#logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    flex: 0 0 auto;
    margin: 10px;
}

#brand-name {
    color: white;
    flex: 1 1 0;
    font-size: 3vw;
    text-shadow: 0 0 1px black;
}


.form-section {
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10vw;
    background-color: rgba(192, 228, 255, 0.38);
}

form {
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.752);
    padding: 50px;
}

.description {
    font-size: 1.7vw;
    padding: 10px;
}

label {
    display: block;
}

#first-row, #second-row, #third-row {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

input {
    width: 25vw;
}

button {
    margin: 30px;
    background-color: rgba(58, 155, 229, 0.711);
    color: white;
    border: 0px;
    text-shadow: 0 0 2px black;
    border-radius: 5px;
}