@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');


*{
    box-sizing: content-box;
}

main {
    display: flex;
    font-family: 'Signika', sans-serif;
}

.logo-section {
    height: 100vh;
    width: 30vw;
    background-color: pink;
    font-size: 2em;
}

.form-section{
    height: 100vh;
    width: 70vw;
}

#logo {
    height: 150px;
    width: 150px;
    border: 1px solid blue;
    border-radius: 50%;
}
